# Binaries for programs and plugins
*.exe
*.exe~
goverhaul

# Output of the go coverage tool
*.out
coverage.txt
coverage.html

# Go workspace file
go.work

# IDE specific files
.idea
.vscode
.DS_Store

# Cache files
.goverhaul.cache